@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');


*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Setting Background */
body {
    height: 100vh;
    font-family: 'Macondo', cursive;
    background: linear-gradient(100deg,
            #e69730,
            #e6c4de
            );
    margin-top: 10px;
    background-repeat: no-repeat;
}

/* Container Box */
.container {
    padding: 40px 50px;
    width: 50%;
    min-width: 400px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 2px solid black;
    border-top: 1px solid rgb(48, 45, 45);
    border-left: 1px solid rgb(48, 45, 45);
    border-right: 4px solid black;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 30px rgba(245, 119, 192, 0.5);    
}


/*heading*/
h3 {
    background: linear-gradient(100deg,
            #e2b375,
            #e6c4de
            );
    align-content: center;
    text-align: center;
    padding: 13px;
    margin: 15px 20% 15px 20%;
    /* margin : top right bottom left;*/
    width: auto;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-top-left-radius: 30px ;
    border-bottom-right-radius: 30px ;
    transition: 0.3s ease-in-out;
}

h3:hover {
    box-shadow: 3px 3px 30px rgb(221, 92, 92);
    transform: scale(1.03);
        /* scale(1.1) means zoom 110% */
}


/* entering newtask div */
#newtask {
    background-color: #ffffff;
    position: relative;
    margin-top: 30px;
    padding: 30px 20px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top-left-radius: 30px ;
    border-bottom-right-radius: 30px ;
    border-radius: 8px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}

#newtask input {
    width: 70%;
    height: 45px;
    font-family: cursive;
    font-size: 15px;
    border: 2px solid #3a3030;
    padding: 15px;
    color: black;
    font-weight: 600;
    position: relative;
}

/* input of newtask div*/

input:hover {
    border-color: red;
    cursor: pointer;
    box-shadow: 4px 5px rgb(196, 178, 178);
}


#newtask input:focus {
    outline: none;
    border-color: #ee1a1a;
    transform: scale(1.02);
    border-radius: 3px;
}

/* Add Task Button */
#newtask button {
    position: relative;
    float: right;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    font-family: cursive;
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(247, 204, 193);
    color: rgb(2, 0, 0);
    cursor: pointer;
    transition: 1s ease-in-out;
}

#tasklist {
    background-color: #fcfcfc;
    padding: 30px 20px;
    margin-top: 50px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top-left-radius: 30px ;
    border-bottom-right-radius: 30px ;
    border-radius: 10px;
    box-shadow: 5px 5px 30px rgb(77, 62, 62);
    width: 100%;
    position: relative;
    font-family: cursive;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}

.task {
    background-color: ffffff;
    padding: 30px 20px;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #ec0b0b;
    border-bottom-right-radius: 40px;
    cursor: pointer;
}

/* Entered Tasks */
.task span {
    font-family: cursive;
    font-size: 15px;
    font-weight: 600;
}

.task span:hover{
    transform: scale(1.05);
}

.task button {
    width: 10%;
    position: relative;
    float: right;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    height: 45px;
    border-radius: 5px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    font-family: cursive;
    font-weight: 600;
    font-size: 15px;
    background-color: rgb(247, 204, 193);
    color: rgb(2, 0, 0);
    cursor: pointer;
    transition: 1s ease-in-out;
}

/* Hover effect Add and Trash Icon Button */
button:hover {
    box-shadow: 3px 5px rgb(206, 103, 72);
    transform: scale(1.02);
}

.completed {
    text-decoration: 3px line-through solid red;
    text-shadow: 5px 5px rgb(175, 132, 132, 0.5);
}













